@import url(style-font.css);
@import url(reset.css);

* {
   padding: 0;
   margin: 0;
}

body {
   background-color: grey;
   background-image: url(../images/backgraund.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

body input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
   -webkit-text-fill-color: #ffffff !important;
   -webkit-background-origin: none;
   /* Matn rangi oq bo‘lishi uchun */
   transition: background-color 5000s ease-in-out 0s;
}


.container {
   width: 100vw;
   height: 100vh;
   /* background: rgb(255, 255, 255);
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%); */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* display: none; */
}

.title {
   width: 720px;
   font-family: 'RobotoMono-Medium';
   text-align: center;
   font-size: 52px;
   color: #FFFFFF;
   margin-top: 40px;
   /* border: 1px solid red; */
}

.title span {
   font-family: 'Merienda-Regular';
}

.notification {
   position: fixed;
   top: -60px;
   left: 50%;
   transform: translateX(-50%);
   width: auto;
   min-width: 300px;
   height: 40px;
   padding: 10px 15px;
   border-radius: 20px;
   font-size: 16px;
   color: white;
   display: flex;
   align-items: center;
   gap: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(235, 235, 235, 0.5);
   background-color: rgba(255, 255, 255, 0.4);
   opacity: 0;
   transition: top 0.7s ease-in-out, opacity 0.5s ease-in-out;
   z-index: 1000;
}

.notification p {
   font-size: 15px;
   font-family: 'Inter-Medium';
   margin-left: 5px;
   color: white;
}

/* Animatsiya bilan ko‘rinadigan bo‘lishi */
.notification.show {
   top: 20px;
   opacity: 1;
}

/* Muvaffaqiyatli xabar uchun yashil fon */
.notification.success {
   background-color: rgba(255, 255, 255, 0.4);
}

/* Xatolik xabari uchun qizil fon */
.notification.error {
   background-color: rgba(255, 0, 0, 0.4);
}

/* Ikonkalarni stil qilish */
.notification img {
   width: 24px;
   height: 24px;
   display: none;
   /* Barcha ikonlarni dastlab yashiramiz */
}

/* Success holatda faqat yashil ikonka chiqadi */
.notification.success .success-icon {
   display: inline-block;
}

/* Error holatda faqat qizil ikonka chiqadi */
.notification.error .error-icon {
   display: inline-block;
}


.time {
   width: 780px;
   height: 160px;
   margin-top: 60px;
   border-radius: 10px;
   border: 1px solid #ebebebc8;
   background: rgba(255, 255, 255, 0.3);
   display: flex;
   align-items: center;
   color: #FFFFFF;
}

.time-box {
   font-family: 'Roboto Mono', monospace;
   font-size: 20px;
   margin: 0px;
}

.time-box:nth-child(1) {
   margin-left: 30px;
}

.time-box span {
   font-size: 100px;
   margin-left: 15px;
}

#endedMessage {
   width: 800px;
   height: 380px;
   border-radius: 10px;
   background: #FFFFFF30;
   color: #FFFFFF;
}

#endedMessage h1 {
   font-family: 'Ubuntu-Bold';
   font-size: 30px;
   text-align: center;
   margin-top: 35px;
}

#endedMessage p {
   width: 760px;
   margin-left: 22px;
   margin-top: 20px;
   font-size: 20px;
   font-family: 'Inter-Regular';
   text-align: justify;
   color: #FFFFFF98;
}

#endedMessage button {
   width: 150px;
   height: 60px;
   border-radius: 10px;
   margin-left: 324px;
   margin-top: 45px;
   text-align: center;
   background: #FFFFFF30;
   border: 1px solid #EBEBEB50;
   font-family: 'Ubuntu-Bold';
   font-size: 18px;
   color: #FFFFFF;
}

#endedMessage button:hover {
   background: #FFFFFF70;
}

.email-inp {
   margin-top: 65px;
   /* border: 1px solid red; */
}

.email-inp input {
   width: 300px;
   height: 50px;
   background: #FFFFFF40;
   color: #FFFFFF;
   border: 1px solid #FFFFFF40;
   border-radius: 35px;
   padding-left: 20px;
   font-family: 'Inter-Regular';
   font-size: 14px;
}

input::placeholder {
   color: white;
}

.email-inp input:focus {
   background: #FFFFFF30;
   border: 2px solid #FFFFFF;
}

form {
   position: relative;
}

.email-inp .send-btn {
   width: 40px;
   height: 40px;
   background: #FFFFFF40;
   border-radius: 50%;
   border: 1px solid #FFFFFF25;
   position: absolute;
   top: 5px;
   right: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.email-inp .send-btn:hover {
   background: #FFFFFF70;
}

.email-inp .send-btn img {
   width: 30px;
   height: 22px;
}

.social h6 {
   font-family: 'Inter-Regular';
   font-size: 13px;
   letter-spacing: 2px;
   color: #FFFFFF70;
   margin-top: 55px;
   margin-bottom: 25px;
}

.social .networks {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
}

.networks li {
   width: 40px;
   height: 40px;
   background: #FFFFFF50;
   border-radius: 5px;
   border: 1px solid #EBEBEB50;
   display: flex;
   align-items: center;
   justify-content: center;
}

.networks li:hover {
   background: #FFFFFF70;
}

.networks img {
   width: 30px;
   height: 30px;
}

/* Sign-Up */

.sign-up {
   width: 100vw;
   height: 100vh;
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.left-side {
   margin: 15px;
   margin-left: -130px;
   flex-shrink: 0;
}

.left-side span {
   width: 146px;
   height: 35px;
   font-size: 24px;
   color: #ffffff;
   font-family: 'Merienda-Regular';
   position: fixed;
   top: 30px;
   left: 35px;
}

.left-side-img {
   width: 700px;
   height: 675px;
   object-fit: cover;
   border-radius: 15px;
}

.right-side {
   width: 930px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-basis: 450px;
   padding: 15px 15px 15px 150px;
   text-align: center;
   color: #FFFFFF;
}

.side-title {
   font-size: 36px;
   font-family: 'RobotoMono-Medium';
}

.side-title-2 {
   font-size: 26px;
   font-family: 'RobotoMono-Medium';
   margin-top: 2px;
}

.sign-up-inp div {
   position: relative;
   width: 500px;
   height: 50px;
   margin-top: 20px;
   border-radius: 30px;
   background: #FFFFFF30;
   border: 1px solid #EBEBEB75;
   display: flex;
   align-items: center;
}

.sign-up-inp div:nth-child(1) {
   margin-top: 55px;
}

.sign-up-inp div::before {
   content: "";
   position: absolute;

   width: 52px;
   height: 100%;
   background: rgba(255, 255, 255, 0.2);
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.sign-up-inp div img {
   position: absolute;
   left: 16px;
   width: 22px;
   height: 24px;
   z-index: 1;
}

.sign-up-inp div input {
   flex: 1;
   height: 100%;
   font-size: 14px;
   background: transparent;
   color: #FFFFFF;
   font-family: 'Inter-Medium';
   padding-left: 80px;
}

.sign-up-inp div input::placeholder {
   font-size: 13px;
   font-family: 'Inter-Medium';
   color: #FFFFFF80;
}

.terms {
   width: 370px;
   margin-left: 35px;
   margin-top: 30px;
   /* border: 1px solid red; */
}

#terms-checkbox {
   width: 20px;
   height: 20px;
   border: 3px solid #FFFFFF;
   top: 5px;
}

input[type="checkbox"] {
   appearance: none;
   width: 14px;
   height: 14px;
   border: 2px solid #ffffff;
   border-radius: 4px;
   cursor: pointer;
   display: inline-block;
   position: relative;
   background: transparent;
}

input[type="checkbox"]:checked::before {
   content: "✓";
   font-size: 14px;
   font-weight: bold;
   color: #ffffff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.sign-up-inp label {
   color: #FFFFFF50;
   font-size: 13px;
   font-family: 'Inter-Regular';
   margin-left: 10px;
}

.sign-up-inp a {
   color: #FFFFFF80;
}

.sign-up-inp a:hover {
   color: #FFFFFF;
}

/* generatsiya parol */

.password-container {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.password-container input {
   flex: 1;
   padding: 10px;
   padding-right: 40px;
   border-radius: 5px;
   /* border: 1px solid #ccc; */
   font-size: 16px;
}

.password-container button {
   width: auto;
   position: absolute;
   right: 10px;
   background: none;
   border: none;
   cursor: pointer;
   font-size: 16px;
   color: #ffffff;
}

#generatePassword {
   padding: 7px;
   border-radius: 20px;
   margin-top: 15px;
   background: #FFFFFF40;
   font-size: 12px;
   font-family: 'Ubuntu-Medium';
   color: #FFFFFF;
}

/* generatsiya uchun */

.register-btn {
   width: 180px;
   height: 50px;
   margin-top: 20px;
   border-radius: 10px;
   font-size: 17px;
   font-family: 'Ubuntu-Medium';
   color: #FFFFFF;
   background: #FFFFFF40;
}

.login-btn {
   width: 180px;
   height: 50px;
   margin-top: 20px;
   border-radius: 10px;
   background: #FFFFFF40;
}

.login-btn a {
   font-size: 17px;
   font-family: 'Ubuntu-Medium';
   color: #FFFFFF;
   margin-left: 10px;
}

.alt-login-text {
   font-size: 14px;
   font-family: 'Inter-Regular';
   color: #FFFFFF70;
   margin-top: 30px;
}

.social-sign-up {
   margin-top: 20px;
}

.social-btn {
   width: 64px;
   height: 52px;
   margin-left: 10px;
   border-radius: 8px;
   color: #FFFFFF;
   background: #FFFFFF50;
   border: 1px solid #EBEBEB50;
}

.social-btn-apple {
   width: 25px;
   margin-top: -1px;
}

.sign-up button:hover {
   background: #FFFFFF70;
}

#generatePassword:hover {
   background: #FFFFFF70;
}

.sign-up-inp div:focus-within {
   background: #FFFFFF20;
   border: 2px solid #FFFFFF;
}

.sign-up .password-container button:hover {
   background: none;
}

/* Log-in */

.log-in {
   display: none;
   width: 100vw;
   height: 100vh;
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.login-left-side {
   width: 930px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* flex-basis: 450px; */
   padding: 15px 15px 15px 15px;
   text-align: center;
   color: #FFFFFF;
   /* border: 1px solid red; */
}

.login-left-side span {
   width: 146px;
   height: 35px;
   font-size: 24px;
   color: #ffffff;
   font-family: 'Merienda-Regular';
   position: fixed;
   top: 30px;
   left: 35px;
}

.login-side-title {
   width: 442px;
   font-size: 36px;
   margin-top: 70px;
   font-family: 'RobotoMono-Medium';
}

.login-in-inp div {
   position: relative;
   width: 500px;
   height: 50px;
   margin-top: 20px;
   border-radius: 30px;
   background: #FFFFFF30;
   border: 1px solid #EBEBEB75;
   display: flex;
   align-items: center;
}

.login-in-inp div:nth-child(1) {
   margin-top: 55px;
}

.login-in-inp div::before {
   content: "";
   position: absolute;

   width: 52px;
   height: 100%;
   background: rgba(255, 255, 255, 0.2);
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.login-in-inp div img {
   position: absolute;
   left: 16px;
   width: 22px;
   height: 24px;
   z-index: 1;
}

.login-in-inp div input {
   flex: 1;
   height: 100%;
   font-size: 14px;
   background: transparent;
   color: #FFFFFF;
   font-family: 'Inter-Medium';
   padding-left: 80px;
}

.login-in-inp div input::placeholder {
   font-size: 13px;
   font-family: 'Inter-Medium';
   color: #FFFFFF80;
}

.login-check {
   width: 426px;
   display: flex;
   margin-top: 32px;
   margin-left: 42px;
   /* border: 1px solid red; */
}

.login-check label {
   color: #FFFFFF50;
   font-size: 13px;
   font-family: 'Inter-Regular';
   display: flex;
   /* margin-left: 10px; */
}

.login-check label p {
   margin-left: 15px;
   margin-top: 7px;
}

.login-check a {
   margin-left: 170px;
   margin-top: 7px;
   color: #FFFFFF80;
   text-decoration: underline;
}

.login-check a:hover {
   color: #FFFFFF;
}

.login-in-inp .sign-up-btn {
   width: 120px;
   height: 50px;
   margin-left: 20px;
   border-radius: 10px;
   font-size: 17px;
   font-family: 'Ubuntu-Medium';
   color: #FFFFFF;
   background: #FFFFFF40;
}

.login-in-inp button:hover {
   background: #FFFFFF70;
}

.login-in-inp div:focus-within {
   background: #FFFFFF20;
   border: 2px solid #FFFFFF;
}

.alt-login-text {
   margin-top: 70px;
}

.social-login {
   margin-top: 30px;
}

.social-btn {
   width: 64px;
   height: 52px;
   margin-left: 10px;
   border-radius: 8px;
   color: #FFFFFF;
   background: #FFFFFF50;
   border: 1px solid #EBEBEB50;
}

.social-btn-apple {
   width: 25px;
   margin-top: -1px;
}

.log-in button:hover {
   background: #FFFFFF70;
}

.login-right-side {
   width: auto;
   height: auto;
   padding-right: 15px;
   /* border: 1px solid red; */
}

/* Dashboard */

.dashboard {
   width: 100vw;
   height: 100vh;
   /* background: rgb(255, 255, 255);
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%); */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* display: none; */
}