@font-face {
   font-family:'RobotoMono-Medium';
   src: url(../fonts/Roboto-Mono/static/RobotoMono-Medium.ttf);
}

@font-face {
   font-family: 'Merienda-Regular';
   src: url(../fonts/Meriende/static/Merienda-Regular.ttf);
}